volumes:
  data: {}

services:
  blossom:
    # image: ghcr.io/hzrd149/blossom-server:master
    image: blossom-server
    build: .
    ports:
      - 3000:3000
    env_file: .env
    # enable debug logging
    # environment:
    #   Custom config path
    #   BLOSSOM_CONFIG: "data/config.yml"
    #   DEBUG: "*"
    volumes:
      # mount data volume
      - data:/app/data
      # mount config file
      - ./config.yml:/app/config.yml
      # mount custom www dir
      - ./public:/app/public
